h3 {
	text-align: center;
}
html {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100px
  height: 100px
}
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;
 
}
.column0 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 225px;
 
}
#pfp{
	object-fit: cover;
	max-width: 100%;
  max-height: 100%;
   border: 1px solid black;
  border-radius: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#intro{
	font-family: Cambria;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	top: 10%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	font-size: 25px;
	box-shadow: 5px 5px #ADD8E6;
	opacity: 0.7;
	transition: top 0.5s;
}
#abtTitle{
	font-family: Cambria;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px #ADD8E6;
	opacity: 0.7;
	margin-left: 50px;
	margin-right: 50px;
	font-size:25px;
}
#abtDesc {
	font-family: Cambria;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px #ADD8E6;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 25px;
}
footer{
	font-family: Cambria;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px #ADD8E6;
}
ul {
	list-style: none;
	text-align: left;
}
li{
	margin-top: 5px;
}
.icon {
	transition: transform 2s;
	object-fit: cover;
	max-width: 100%;
  max-height: 100%;
   border: 1px solid #ADD8E6;
  border-radius: 100%;
}
.icon:hover{
    transform:scale(1.5);
}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  box-shadow: 5px 5px #ADD8E6;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
span {
	font-size:30px;
	cursor:pointer;
	border: 2.5px solid #ADD8E6;
	background-color: white;
	 box-shadow: 5px 5px #ADD8E6;
	 border-radius: 5px;
	 height: 25px;
}
